{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/postStyle.css' %}">
    <title>Confirm Page</title>
</head>
<body>
    
    <div id="divModalEdit" class="">
        <div id="modal">
            <p id="titleEdit"><strong>Edit Item</strong></p>
            <div id="formBox">
                <form  method="post" action="{% url 'edit_post' post.id %}"> {% csrf_token %}
                    <div id="titleInput">
                        <p>Title</p>
                        <input type="hidden" value="{{ user.username }}" name="username">
                        <input type="text" placeholder="Hello World" name="title">
                    </div>

                    <div id="contentInput">
                        <p>Content</p>
                        <input type="text" placeholder="Content Here" name="content">
                    </div>

                    <div id="buttons">
                        <a href="{% url 'post_list' %}"><button id="buttonCancel" onclick="CancelButton()" type="button"><strong>Cancel</strong></button></a>
                        <button id="buttonSave">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>